/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */
 
 .navbarPlaceholder{
  background-color: rgb(167, 164, 161);
 }
 .display-4{
  background-color: rgb(179, 187, 195);
 }
 .container-fluid {
background-color: rgb(153, 153, 163);

 }

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.responsive {
  width: 100%;
  height: auto;
}

.rounded-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /* Centers the circle horizontally */
}